CSS:

/* Appliquer le fade-up aux sections */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-section {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Appliquer un effet de parallax avec l'image de la bannière et le logo */

.banner {
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
}
