#story{ 

article#place {
    
    .parallax-background {
      position: relative;
      width: 1473px;
      height: 699px;
      overflow: hidden;
      

      img{
        width: 100%;
        height:auto;
        object-fit: cover;        
      }
    }
  
    .grand-nuage {
      position: absolute;
      top: 10px; // Ajustez selon l'emplacement initial des nuages
      right: 1px;
      transform: translateY(-50%);
      z-index: 2; // Assurez-vous que les nuages restent en avant-plan
      max-width: none; // Empêche le redimensionnement automatique
      height: auto; // Gardez l'aspect naturel
    }
  
    
    .petit-nuage {
      position: absolute;
      top: 1px; // Ajustez selon l'emplacement initial des nuages
      right: 1px;
      transform: translateY(-50%);
      z-index: 2; // Assurez-vous que les nuages restent en avant-plan
      max-width: none; // Empêche le redimensionnement automatique
      height: auto; // Gardez l'aspect naturel
    }
  }
}
  
  
  
  
