
.story{

#place {

  background-image: none;
  position: relative;
  max-height: 699px;
  max-width: 1480px;
  margin-left: 0;
      
  #image-fond {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

      #grand-nuage {
    position: absolute;
    top: 61px;
    right: -725px;
    z-index: 2;
    opacity: 0.3;
      }

      #petit-nuage {
        position: absolute;
        bottom: 372px;
        right: 55px;
        z-index: 2;
        opacity: 0.2;
      }
    }
  }

  
  
  
  
  
